.array-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.array-bar {
    width: 2px;
    background-color:blueviolet;
    display: inline-block;
    margin: 0 1px;
}